html,
body {
  font-family: 'Lato', sans-serif;
}

.table {
  border-collapse: collapse;
}

.table-cell {
  padding: 20px;
  border: 1px solid gray;
}

.table-cell.firstColumn {
  font-size: 40px;
  font-weight: bold;
  justify-content: flex-start;
}

.table-cell--header {
  background-color: #efefef;
  font-size: 52px;
  font-weight: bold;
}

.status-icon {
  min-height: 80px;
  min-width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/notComplete.svg");
}

.status-icon.complete {
  background-image: url("img/complete.svg");
}